@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.hoverLastImg {
  visibility: hidden;
  opacity: 0;
  transition: 0.25s opacity, 0.25s visibility,
    transform 1.5s cubic-bezier(0, 0, 0.2, 1),
    -webkit-transform 1.5s cubic-bezier(0, 0, 0.2, 1);
  position: absolute;
  z-index: -1;
}

.img {
  width: 295px;
  height: 295px;
  position: relative;
}

.hoverImg {
  position: absolute;
  z-index: -1;
}

.img:hover .hoverImg {
  visibility: hidden;
  opacity: 0;
}

.img:hover .hoverLastImg {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: scale(1.1);
}
